body {
	background-image: url("https://static.photocdn.pt/images/articles/2017/04/28/iStock-516651882.jpg");
}

h1 {
	position: absolute;
	top: 410px;
	left: 300px;
	-webkit-transform: rotate(-334deg);
	-moz-transform: rotate(-334deg);
	-ms-transform: rotate(-334deg);
	font-family: courier;
	color: #7895a3;
}