$left-bg: #E3E2DF;
$left-color: #292929;
$right-bg: #27AE60;
$right-color: #F8F8F8;
$time-color: #555555;


body { padding: 0px; margin: 0px; }


.messages-width-small { width: 300px; }
.messages-width-medium { width: 400px; }
.messages-width-large { width: 500px; }
.messages-width-full { width: 100%; }



/* Basic List Styling */
ul.rounded-messages 
{
  list-style: none;
  display: inline-block;
  overflow: hidden;
  font-size: 16px;
  padding: 10px;
}


/* Animation */
@keyframes message-reveal-animation
{
  from
  {
    opacity: 0;
    margin-top: 40px;
  }
  to
  {
    opacity: 1;
    margin-top: 10px;
  }
}
ul.rounded-messages.reveal-messages li
{
  visibility: hidden;
}
ul.rounded-messages.animation-superfast li.msg-visible,
ul.rounded-messages.animation-fast li.msg-visible,
ul.rounded-messages.animation-slow li.msg-visible,
ul.rounded-messages.animation-normal li.msg-visible,
ul.rounded-messages li.msg-visible
{
  animation: message-reveal-animation;
  animation-duration: 0.3s; /* Default Animation Length */
  animation-iteration-count: 1;
  visibility: visible
}
ul.rounded-messages.animation-superfast li.msg-visible
{
  animation-duration: 0.2s; /* Super Fast Animation Length */
}
ul.rounded-messages.animation-slow li.msg-visible
{
  animation-duration: 0.5s; /* Slow Animation Length */
}


/* Message Bubbles */
ul.rounded-messages li 
{
  position: relative;
  clear: both;
  display: block;
  height: auto;
  width: auto;
  max-width: 50%;
  word-wrap: break-word;
  word-break: keep-all;
  font-family: sans-serif;
  text-align: left;
  line-height: 1.5em;
  margin: 2px 10px;
  padding: 10px;
  cursor: default;
  border-radius: 15px;
}



/* Left Message Bubble */
ul.rounded-messages li:not(.right-msg),
ul.rounded-messages li.left-msg
{
  float: left;
  color: $left-color;
  background: $left-bg;
}

ul.rounded-messages li:not(.right-msg)::before,
ul.rounded-messages li.left-msg::before
{
  /* Left Message Bubble Tail */
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  border-top: 15px solid $left-bg;
  border-left: 15px solid transparent;
}


/* Right Message Bubble */
ul.rounded-messages li.right-msg
{
  float: right;
  color: $right-color;
  background: $right-bg;
}

ul.rounded-messages li.right-msg::before 
{
  /* Right Message Bubble Tail */
  content: "";
  position: absolute;
  bottom: 5px;
  right: -10px;
  border-bottom: 15px solid $right-bg;
  border-right: 15px solid transparent;
}


/* Bubble with image */
ul.rounded-messages li img 
{
  display: block;
  max-width: 100%;
  border-radius: 5px;
  margin-bttom: 5px;
}


/* Bubble with no tail */
ul.rounded-messages li.no-tail::before,
ul.rounded-messages li.time::before
{
  content: "";
  display: none;
}


/* Time Stamp */
ul.rounded-messages li.time
{
  width: 100%;
  max-width: 100%;
  background: transparent;
  margin: 0px;
  font-size: 12px;
  text-align: center;
  color: $time-color;
}



@media screen and (max-width: 500px)
{
  /* Fit the screen for all chats */
  ul.rounded-messages,
  .messages-width-large,
  .messages-width-medium,
  .messages-width-small
  {
    width: 100%;
    display: block;
  }
}
